

.admin-login-form {
  max-width: 300px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-login-form h2 {
  text-align: center;
  color: #333;
}
