

.login-form {
  max-width: 300px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin-top: 9px;
  border: 0.1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}



@media only screen and (max-width: 768px) {
  .admin-login-form,
  .login-form {
    max-width: 100%;
  }
}
